


.NavBG{
    background-color: #646093;
  }

.Betty{
  max-height: 50px;
  max-width: 50px;
}

.Cart1{
  color: rgba(253, 241, 108, 0.845);
  font-size: 30px;
}
.Cart_Div{
  display: flex;
  flex-wrap: nowrap;
}
#Product_add{
  color: rgba(253, 241, 108, 0.845);
  font-size: 15px;
  padding: 0px;
}
.item_cart{
  background-color:  #646093;
  padding: 5px;
}
