/*Item*/
.link_style {
 text-decoration: none;
 color:rgb(251, 228, 198);
}

.link_style:hover {
  color:rgba(205, 190, 171, 0.618) ;
}

.item_cart{
  background-color:  #646093;
  padding: 5px;
}

.img_card{
  height: 280px;
}

/*ItelList*/

.card1{
  margin: 5px;
  padding: 5px;
  width: 280px;
  text-align: center;
}


/*Item Count*/
.btn_style{
    cursor: pointer;
    color: burlywood;
    font-size: 30px;
    margin: 5px;
    padding: 5px;
}

.cart_date{
    display: flex;
    justify-content: center;
   
}

#button_product {
  background-color: #a09dbf;
  color:rgb(251, 228, 198);
  border: #3e3b59;
}

#button_product:hover {
  background-color:  #282638b6;
}


#button_product:active {
  border-color: aliceblue;
  color: aliceblue;
  box-shadow: 3px 3px 5px white;
}



/*CART CART WIDGET*/
.Cart1{
  color: rgba(253, 241, 108, 0.845);
  font-size: 30px;
}
.Cart_Div{
  display: flex;
  flex-wrap: nowrap;
}

/*ITEM LIST CONTAINER*/

  .div_app_product{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    width: 60%;
  }
  