/*Item*/
.link_style {
 text-decoration: none;
 color:rgb(251, 228, 198);
}

.link_style:hover {
  color:rgba(205, 190, 171, 0.618) ;
}

.item_cart{
  background-color:  #646093;
  padding: 5px;
}

.img_card{
  height: 280px;
}

#button_detail{
  background-color: rgb(251, 228, 198);
  color: #3e3b59;
  border: #c0bbff;
}
#button_detail:hover{
 background-color: rgba(205, 190, 171, 0.618) ;
 
}
/*ItelList*/

.card1{
  margin: 5px;
  padding: 5px;
  width: 280px;
  text-align: center;
}


/*Item Count*/
.btn_style{
    cursor: pointer;
    color: rgb(255, 202, 133);
    font-size: 30px;
    margin: 5px;
    padding: 5px;
}

.cart_date{
    display: flex;
    justify-content: center;
   
}

#button_product {
  background-color: #6f6aa3;
  color:rgb(255, 198, 122);
  border: #3e3b59;
}

#button_product:hover {
  background-color: rgba(39, 9, 46, 0.652);
}


#button_product:active {
  border-color: aliceblue;
  color: aliceblue;
}



/*CART CART WIDGET*/
.Cart1{
  color: rgb(234, 160, 12);
  font-size: 30px;
}
.Cart_Div{
  display: flex;
  flex-wrap: nowrap;
}

/*ITEM LIST CONTAINER*/

  .div_app_product{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    width: 60%;
  }
  